@import "inc/variables.less";

@sidebar-width: 250px;
@sidebar-bgcolor: #2b2b2b;
@sidebar-color: #ccc;
@sidebar-title-color: #fff;
@sidebar-subtitle-color: #aaa;
@sidebar-line-color: #c5c5c7;
@sidebar-font-size: 14px;
@main-bgcolor: #fbfbfb;
@main-color: #4a4a4a;
@main-title-color: #000;
@main-subtitle-color: #d7ac39;
@main-line-color: #ccc;

@import "inc/base.less";
@import "inc/header.less";

#container {
	height: 100%;
}

#site-footer {
	display: none;
}

#site-body {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.sidebar {
	position: fixed;
	height: 100%;
}

.sidebar .widget-area {
	width: @sidebar-width;
	background: @sidebar-bgcolor;
	color: @sidebar-color;
	padding: 30px 0;
	font-size: @sidebar-font-size;
	border-right: 1px solid #cacaca;
	height: e("calc(100% - 45px)");
	overflow: scroll;
}

.widget {
	width: 75%;
	margin: 0 auto 40px auto;
}

.widget ul {
	list-style: none;
	text-decoration: none;
	padding: 0;
}

.widget-profile {
	text-align: center;
}

.widget-profile .avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
	background: url('../img/cat.jpg');
	background-size: 100% 100%;
}

.widget-profile h2 {
	color: @sidebar-title-color;
	margin: 20px 0 6px 0;
}

.widget-profile h6 {
	margin: 0;
	color: @sidebar-color;
	font-weight: 400;
}

.nav {
	padding: 0;
	margin: 0;
}

.nav li {
	display: block;
	clear: both;
	background: #303030;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #2b2b2b;
	transition: background 0.5s;
	margin: 0;
}

.nav li.current {
	background: #363636;
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #252525;
}

.nav li a {
	color: @sidebar-color;
}

.nav li:hover, .nav li:focus {
	background: #363636;
}

.nav li.current a, .nav li a:hover, .nav li a:focus {
	color: #fff;
}

.nav li .fa {
	float: left;
	line-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 26px;
}

.nav li.current .fa {
	color: #03cc85;
}

.nav li .text {
	margin-left: 50px;
	padding-left: 10px;
	line-height: 45px;
	box-shadow: -3px 0 5px -4px #000;
	font-weight: 600;
}

.sidebar .social {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: @sidebar-width;
	background: #202020;
	border-bottom: 1px solid #1a1a1a;
	z-index: 2;
	height: 45px;
}

.social li {
	width: 33%;
	text-align: center;
	float: left;
}

.social .fa {
	font-size: 16px;
}

.social a {
	color: @sidebar-color;
	line-height: 45px;
}

.social a:hover, .social a:focus {
	color: #fff;
}

.widget-header {
	display: flex;
	flex-flow: column;
	margin: 0 0 1em 0;
	font-size: 1em;
}

.widget-header .title {
	text-align: center;
	color: @sidebar-title-color;
	margin: 0;
}

.widget-header:after {
	content: '.';
	font-size: 0;
	width: 60%;
	margin: 4px auto 0 auto;
	background: @sidebar-line-color;
	height: 1px;
}

.widget-contact {
	text-align: center;
}

.widget-contact ul li {
	margin-bottom: 8px;
}

.widget-body .title {
	font-weight: 600;
	color: @sidebar-subtitle-color;
}

.widget-body .text {
	line-height: @sidebar-font-size;
}

.main {
	flex: 1;
	background: @main-bgcolor;
	position: absolute;
	left: @sidebar-width;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}

.profile-section .inner,
.contact-section .inner,
.experience-section .inner {
	padding: 30px 0;
	width: 80%;
	margin: 0 auto;
}

.section-header {
	text-align: center;
	margin-top: 30px;
}

.section-header:after {
	display: block;
	content: "";
	width: 20%;
	height: 2px;
	margin: 0 auto;
	background: @main-line-color;
}

.contact-section {
	background: rgba(51, 59, 80, 1);
}

.contact-section .inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.contact-description {
	flex: 0.4;
	margin-right: 40px;
}

.contact-description h2 {
	color: #fff;
}

.contact-description p {
	color: #BEC7D5;
	line-height: 1.9em;
}

.contact-form {
	flex: 0.6;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.contact-form input, .contact-form .send {
	height: 36px;
	width: 100%;
}

.contact-form input, .contact-form textarea {
	border: 1px solid transparent;
	color: #2D2D2D;
	margin: 0 0 10px;
	padding: 5px;
	box-sizing: border-box;
}

.contact-form .message {
	width: 100%;
	height: 150px;
}

.contact-form .name {
	flex: 0.5;
	margin-right: 16px;
}

.contact-form .email {
	flex: 0.5;
}

.contact-form .send {
	background: rgba(0, 214, 70, 1);
	height: 45px;
	border: none;
}

.experience-section {
	position: relative;
}

.experience-section .timeline {
	position: absolute;
	left: e("calc(50% - 1px)");
	width: 2px;
	height: e("calc(100% - 80px)");
	background: #f0f0f0;
}

.experience-item {
	width: 50%;
	padding: 15px 50px;
	box-sizing: border-box;
}

.experience-item .dot {
	position: absolute;
	width: 6px;
	height: 6px;
	left: e("calc(50% - 3px)");
	background: #000;
	border-radius: 50%;
	margin-top: 4px;
}

.experience-item .date {
	color: #00D646;
	font-weight: bold;
}

.experience-item h4 {
	margin-top: 5px;
}

.experience-item h6 {
	margin: 0;
	line-height: 1.9em;
	color: #000;
}

.experience-item p {
	margin: 0;
	color: #666;
}

.experience-section .left {
	text-align: right;
}

.experience-section .right {
	margin-left: 50%;
	text-align: left;
}

@media screen and (max-width: 640px) {
	.contact-section .innser {
		flex-flow: column;
	}
	.contact-description {
		margin-right: 0;
	}
}

