@sidebar-width: 220px;

@import "base.less";
@import "header.less";
@import "footer.less";
@import "sidebar.less";
@import "form.less";
@import "article.less";
@import "comment.less";
@import "highlight.less";

#site-body {
	display: flex;
	flex-flow: row-reverse nowrap;
	padding: 50px 0 0 0;
}

.blog-content {
	flex: 1;
	min-width: 0;
	margin-left: @sidebar-width;
}

@media screen and (max-width: 960px) {
	#widget-area {
		display: none;
	}
	.blog-content, #site-footer {
		margin-left: 0;
	}
	#sidebar-toggle {
		display: block;
	}
}

.more-link {
	display: inline-block;
	margin: 0;
	padding: 6px 14px;
	background: @theme-hicolor;
	text-decoration: none;
	font-size: 0.9em;
	margin-left: e("calc(50% - 48px)");
}

.more-link:link,
.more-link:visited  {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #303030;
}

.pagination .nav-links {
	text-align: center;
}

.pagination a, .pagination .current {
	display: inline-block;
	margin: 0 3px;
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pagination a {
	background: #303030;
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	background: @theme-hicolor;
}
