@import "variables.less";
@import "base.less";
@import "header.less";
@import "footer.less";
@import "form.less";
@import "article.less";

#site-body {
	padding: 50px 0 0 0;
}

#main {
	width: 80%;
	margin: 0 auto;
}
