#sidebar {
	display: flex;
	position: fixed;
	top: unit(@header-height, px);
	bottom: 45px;
	left: 0;
	height: 100%;
	width: unit(@sidebar-width, px);
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;
	border-right: 1px solid #d9e3ea;
	background: @sidebar-color-bg;
	color: @sidebar-color-text;
}

.admin-bar #sidebar {
	top: unit(32 + @header-height, px);
}

#widget-area {
	padding: 20px 0;
	overflow: scroll;
	height: e("calc(100% - 40px)");
}

#sidebar::-webkit-scrollbar, #widget-area::-webkit-scrollbar {
	display: none;
}

.widget {
	padding: 10px 20px;
}

.widget a {
	color: @sidebar-color-link;
}

.widget a:hover {
	color: @sidebar-color-hover;
}

.widget-title {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	color: @sidebar-color-title;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.widget ul li {
	padding: 0;
}

.widget ul li::before {
	font-family: Fontawesome;
	font-size: 15px;
}

.widget_profile {
	text-align: center;
}

.widget_profile .widget-title {
	display: none;
}

.profile-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.profile-title {
	margin: 10px 0 0 0 ;
	color: @sidebar-color-title;
}

.profile-biographical-info {
	margin-top: 10px;
}

.widget_blog_nav {
	padding: 10px 0;
}

.widget_blog_nav .widget-title {
	display: none;
}

.widget_blog_nav ul li {
	display: flex;
	font-size: 1em;
	margin: 0;
}

.widget_blog_nav a {
	padding: 6px 80px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 1.1em;
	font-weight: 500;
	transition: none;
}

.widget_blog_nav a:hover, .widget_blog_nav li.current a {
	background: #d8e4ed;
	border-left: 4px solid @sidebar-color-hover;
}

.widget_blog_nav li a:before {
	margin-right: 15px;
	line-height: 35px;
	font-family: FontAwesome;
}

.widget_blog_nav .nav-item-arc a:before {
	content: "\f272";
}

.widget_blog_nav .nav-item-cat a:before {
	content: "\f07b";
}

.widget_blog_nav .nav-item-tag a:before {
	content: "\f02c";
}

.widget_recent_entries li::before {
	content: '\f016';
	margin-right: 5px;
}

.widget_categories li::before {
	content: '\f114';
	margin-right: 8px;
}

.widget_archive li::before {
	content: '\f133';
	margin-right: 8px;
}

.widget_recent_comments li:before {
	content: '\f0e5';
	margin-right: 8px;
}

.widget_meta ul {
	list-style: circle;
	padding-left: 20px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.widget_social {
	position: fixed;
	left: 0;
	bottom: 0;
	width: unit(@sidebar-width, px);
	height: 45px;
	box-sizing: border-box;
	padding: 0 20px;
	background: @social-color-bg;
}

.widget_social .widget-title {
	display: none;
}

.widget_social ul {
	display: flex;
	justify-content: center;
}

.widget_social ul li {
	display: inline;
}

.widget_social a {
	display: inline-block;
	line-height: 45px;
	width: 45px;
	text-align: center;
	cursor: pointer;
	color: @social-color-link;
	font-size: 18px;
	cursor: pointer;
}

.widget_social a:hover {
	color: @social-color-hover;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	-webkit-appearance: none;
	background-color: #4c5770;
	color: #ccc;
	border: none;
	opacity: .6;
	width:e("calc(100% - 47px)");
}

.search-submit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    width: 48px;
	border: none;
	cursor: pointer;
    overflow: hidden;
    padding: 0;
	background-color: #222837;
}

.search-submit:hover {
	background-color: #00c1d3;
}

.search-submit:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 20px;
	left: 2px;
	position: relative;
}
